@{
    ViewBag.Title = "Hello All Worlds";
}

<div class="jumbotron">
    <h1>Hello all worlds, from Windows Azure Web Sites!</h1>
    <p class="lead">Each of the links below provide a welcome message, each in a different programming language or framework. All of these frameworks are supported natively on Windows Azure Web Sites.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET MVC</h2>
        <p>This page is rendered using ASP.NET MVC - @("Hello World!")</p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET Web API</h2>
        <p>Another example of using ASP.NET libraries. <a href="/api/helloworld">Check it out</a>.</p>
    </div>
    <div class="col-md-4">
        <h2>ASPX</h2>
        <p>Just drop in a good old <code>.aspx</code> and you are good to go. <a href="/hello.aspx">Check it out</a>.</p>
    </div>
    <div class="col-md-4">
        <h2>Razor</h2>
        <p>Lightweight, but awesome. <a href="/hello.cshtml">Check it out</a>.</p>
    </div>
    <div class="col-md-4">
        <h2>Node.js</h2>
        <p>All the cool kids are using node right? <a href="/hello.js">Check it out</a>.</p>
    </div>
    <div class="col-md-4">
        <h2>PHP</h2>
        <p>Ubiquitous; enough said. <a href="/hello.php">Check it out</a>.</p>
    </div>
    <div class="col-md-4">
        <h2>Static HTML</h2>
        <p>Not very exciting, but it works and it's fast :). <a href="/hello.html">Check it out</a>.</p>
    </div>
    <div class="col-md-4">
        <h2>Classic ASP</h2>
        <p>It's pretty old school, but hey - it works! <a href="/hello.asp">Check it out</a>.</p>
    </div>
</div>
